#container {
    border: solid red 2px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }
  
  .cell {
    border: solid rgba(0, 0, 0, 0.25) 1px;
    flex: 1; /* Expand to fill available space */
    aspect-ratio: 1; /* Maintain a square aspect ratio */
    margin: 0;
    padding: 0;
  }
  